<!doctype html>
<html>
	<head>
		<title>Simon</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css"/>
		<!-- <link rel="stylesheet" type="text/css" href="../static/note_style.css"/> -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="../static/login.js"></script>
	</head>
	<body>
	    <input type="range" min="-100" max="100" value="0" class="slider" id="position_slider">
		</div>
		<div style={{ "display:none" if page_infos["page_id"] != 3 else "display:block" }} class="slidecontainer">
			<button type="button" onclick="/motorcontrol">Start</button>
			<a href="/motorcontrol">test</a>
		</div>
		<script>
			var position_slider = document.getElementById("position_slider");
			
			position_slider.oninput = function() {
				$.getJSON('/get_to_position', {
				  position: this.value
				});
				console.log(this.value);
			}
		</script>
	</body>
</html>
